:root {
    --nt-text-colour: #f3f3f3;
    --background-color: #282828;

}

html, body {
}


.nt-contact__about-me {
    margin-bottom: 80px;
    text-align: justify;
    text-justify: inter-word;
}

* {
    background-color: var(--background-color);
    color: var(--nt-text-colour);
    font-size: 20px;
}


.nt-contact__form {

    margin: auto;
}

#nt-contact__name, #nt-contact__text-field {
    width: 100%;
    padding: 12px;

}

.nt-contact__wrapper {
    width: 70%;
    margin: auto;
}


#nt-contact__button {
    padding: 10px 25px;
}

textarea {
    resize: vertical;
    min-height: 15rem;
}

#nt-contact__name, #nt-contact__text-field, #nt-contact__button {
    border: 1px solid white;
}

label, button {
    user-select: none;
}


#nt-contact__button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}