/*Creates variables needed for the webpage*/
:root {
    --nt-text-colour: #f3f3f3;
    --nt-background-color: #282828;
    --background-overlay: rgba(0, 0, 0, 0.2);
}

.nt-contact__wrapper{
    font-size: 1rem;
}

.nt-contact__about-me {
    margin-bottom: 3rem;
}

/*Centers*/
.nt-contact__form {
    margin: 0 auto;
    width: 100%;
    flex-grow: 1;
}

/*Styles the input boxes*/
#nt-contact__name, #nt-contact__text-field {
    width: 100%;
    padding: 0.75rem;
    color: var(--nt-background-color);

}

/*Padding to buttons*/
#nt-contact__button {
    padding: 0.625rem 1.5rem;
}

/*Makes it so the large text area can only be resized vertically in order to fix some resizing bugs*/
textarea {
    resize: vertical;
    min-height: 15rem;
}

/* White border around these classes */
#nt-contact__name, #nt-contact__text-field, #nt-contact__button {
    border: 1px solid white;
}

/*Makes it so the user cannot highlight these elements*/
label, button, br{
    user-select: none;
}

#nt-contact__button{
    background-color: var(--nt-background-color);
    position: relative;
}

/*Makes it more aesthetically pleasing by adding in a small hover effect*/
#nt-contact__button:hover {

    background-color: var(--background-overlay);
    cursor: pointer;
}

#nt-contact__button:active{
    top: 1px;
}