/* This file mainly handles global css styles, hence its name. */
/* Styles the main content and the navbar */

/* Creates the variables needed for the page */
:root {
    --nt-text-colour: #f3f3f3;
    --nt-background-color: #282828;
    --nt-background-color__secondary: #2E2E2E;

    --nt-navbar__background-colour: #1b9ca4;
    --nt-hover-colour: rgba(0, 0, 0, 0.15);


    --nt-navbar__button__left-offset: 30px;
    --nt-navbar__width: 12rem;
}

/* Sets simple presets*/
html, body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--nt-background-color);
}

/* Sets simple presets*/
* {
    box-sizing: border-box;
    color: var(--nt-text-colour);
}


.nt-navbar, .nt-content {
    display: block;
}

/* Styles nav bar to desired width and style */
.nt-navbar {
    user-select: none;

    font-size: 1.2rem;
    background-color: var(--nt-navbar__background-colour);

    width: var(--nt-navbar__width);
    height: 100%;
    float: left;
}

.nt-navbar__header {
    width: 100%;
    padding: 2rem 0;

    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.nt-navbar__button, .nt-navbar__header-border {
    width: 100%;
}

/* Sets some very nice hover effects */
.nt-navbar__button:hover, .nt-active__page, #active, .active{
    background-color: var(--nt-hover-colour);
}

/* Makes the entire .nt-navbar__button div an "a" tag*/
.nt-navbar__button a {
    text-decoration: none;
    display: block;
    padding: 1rem 0 1rem 1rem;
}

.nt-navbar__header-border {
    margin: auto;
    height: 1px;
    background-color: var(--nt-text-colour);
}

.nt-content {
    font-size: 1rem;
    width: calc(100% - var(--nt-navbar__width));
    float: right;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.nt-navbar__header, .nt-navbar__button a {
    color: var(--nt-text-colour);
}


/*Styles the header*/
.nt-content__header {
    font-size: 1rem;
    padding: 1rem;
    background-color: var(--nt-background-color__secondary);
    border-bottom: 3px solid black;
}

.nt-content__main {
    flex-grow: 1;
    position: relative;
}

/* Makes it so there is a scroll bar on the content, but still makes the navbar fixed in place */
.nt-content__wrapper_scroll {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow-y: auto;
    margin-top: 2rem;
}

.nt-content__wrapper {
    width: 85%;
    margin: auto;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/* Here are some important classes that will be used throughout the entire project*/
.hide {
    display: none !important;
}

.show {
    display: block;
}


.nt-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nt-content__header span a {
    display: inline;
    text-decoration: none;

}

/* Changes text alignment ot justify*/
.nt-justify-text {
    text-align: justify;
    text-justify: inter-word;
}